# tinyrox says don't edit this manually, but it can't stop you!

export(algebraic_simplify)
export(analyze_deps)
export(analyze_liveness)
export(analyze_segments)
export(analyze_variables)
export(as_array)
export(as.array.torch_tensor)
export(broadcast_shapes)
export(cache_stats)
export(clear_cache)
export(clear_codegen_cache)
export(clear_exec_cache)
export(clear_gpu_kernel_cache)
export(clear_kernel_cache)
export(codegen_cache_stats)
export(common_subexpr_eliminate)
export(compile)
export(compute_ir_hash)
export(constant_fold)
export(cuda_device_count)
export(cuda_empty_cache)
export(cuda_is_available)
export(dead_code_eliminate)
export(decompose_high_level_ops)
export(discover_modules)
export(emit_fused_cpu_kernel)
export(exec_cache_stats)
export(execute_compiled)
export(execute_optimized)
export(execute_prepared)
export(expand_module)
export(find_graph_breaks)
export(find_modules_in_package)
export(find_torch_packages)
export(fused_gelu)
export(fused_ops)
export(fused_relu)
export(fused_relu_sigmoid)
export(fused_relu_sigmoid_tanh)
export(fused_rmsnorm)
export(fused_silu)
export(fused_sincos)
export(fused_softcap)
export(fusion_annotate)
export(gpu_kernel_clear)
export(gpu_kernel_get)
export(gpu_kernel_set)
export(gpu_kernel_stats)
export(infer_shapes)
export(is_graph_safe)
export(kernel_cache_stats)
export(load_compiled)
export(lower_to_ir)
export(nn_batch_norm1d)
export(nn_batch_norm2d)
export(nn_buffer)
export(nn_conv_transpose1d)
export(nn_conv1d)
export(nn_conv2d)
export(nn_dropout)
export(nn_elu)
export(nn_embedding)
export(nn_gelu)
export(nn_identity)
export(nn_layer_norm)
export(nn_linear)
export(nn_lstm)
export(nn_module)
export(nn_module_list)
export(nn_parameter)
export(nn_relu)
export(nn_sequential)
export(nn_sigmoid)
export(nn_silu)
export(nn_tanh)
export(nn_upsample)
export(nnf_avg_pool1d)
export(nnf_elu)
export(nnf_gelu)
export(nnf_interpolate)
export(nnf_layer_norm)
export(nnf_leaky_relu)
export(nnf_log_softmax)
export(nnf_normalize)
export(nnf_pad)
export(nnf_relu)
export(nnf_sigmoid)
export(nnf_silu)
export(nnf_softmax)
export(nnf_softplus)
export(nnf_tanh)
export(optimize_graph)
export(plan_memory)
export(prepare_graph)
export(print_segments)
export(segment_expr)
export(torch_abs)
export(torch_add)
export(torch_allclose)
export(torch_arange)
export(torch_bool)
export(torch_cat)
export(torch_clamp)
export(torch_complex)
export(torch_conv1d)
export(torch_cos)
export(torch_cumsum)
export(torch_div)
export(torch_double)
export(torch_embedding)
export(torch_empty)
export(torch_empty_like)
export(torch_eval)
export(torch_exp)
export(torch_flip)
export(torch_float)
export(torch_float16)
export(torch_float32)
export(torch_float64)
export(torch_floor)
export(torch_full)
export(torch_hann_window)
export(torch_imag)
export(torch_int)
export(torch_int16)
export(torch_int32)
export(torch_int64)
export(torch_int8)
export(torch_istft)
export(torch_linear)
export(torch_linspace)
export(torch_lint)
export(torch_log)
export(torch_long)
export(torch_matmul)
export(torch_maximum)
export(torch_mean)
export(torch_mm)
export(torch_mul)
export(torch_multinomial)
export(torch_norm)
export(torch_ones)
export(torch_ones_like)
export(torch_outer)
export(torch_polar)
export(torch_pow)
export(torch_randn)
export(torch_randn_like)
export(torch_real)
export(torch_relu)
export(torch_rsqrt)
export(torch_scaled_dot_product_attention)
export(torch_sigmoid)
export(torch_sin)
export(torch_sort)
export(torch_sqrt)
export(torch_std)
export(torch_stft)
export(torch_sub)
export(torch_sum)
export(torch_tanh)
export(torch_tensor)
export(torch_tensor_from_buffer)
export(torch_triu)
export(torch_uint8)
export(torch_view_as_real)
export(torch_where)
export(torch_zeros)
export(torch_zeros_like)
export(trace_module)
export(trace_report)
export(validate_ir)
export(walk_expr)
export(with_autocast)
export(with_no_grad)

S3method("-",torch_tensor)
S3method("!",torch_tensor)
S3method("!=",torch_tensor)
S3method("[",torch_tensor)
S3method("[[",nn_module)
S3method("[<-",torch_tensor)
S3method("*",torch_tensor)
S3method("/",torch_tensor)
S3method("%/%",torch_tensor)
S3method("%%",torch_tensor)
S3method("^",torch_tensor)
S3method("+",torch_tensor)
S3method("<",torch_tensor)
S3method("<=",torch_tensor)
S3method("==",torch_tensor)
S3method(">",torch_tensor)
S3method(">=",torch_tensor)
S3method("$",nn_module)
S3method("$",torch_tensor)
S3method("$<-",nn_module)
S3method(as.character,torch_dtype)
S3method(as.double,torch_tensor)
S3method(as.integer,torch_tensor)
S3method(as.matrix,torch_tensor)
S3method(as.numeric,torch_tensor)
S3method(length,nn_buffer)
S3method(length,nn_module)
S3method(length,nn_parameter)
S3method(length,torch_tensor)
S3method(print,compiled_module)
S3method(print,ir_graph)
S3method(print,memory_plan)
S3method(print,module_tree)
S3method(print,torch_dtype)
S3method(print,torch_tensor)
S3method(print,traced_module)

useDynLib(Rtorch, .registration = TRUE)
