# tinyrox says don't edit this manually, but it can't stop you!

export(algebraic_simplify)
export(analyze_deps)
export(analyze_liveness)
export(analyze_segments)
export(analyze_variables)
export(as_array)
export(broadcast_shapes)
export(cache_stats)
export(clear_cache)
export(clear_codegen_cache)
export(clear_exec_cache)
export(clear_gpu_kernel_cache)
export(clear_kernel_cache)
export(codegen_cache_stats)
export(common_subexpr_eliminate)
export(compile)
export(compute_ir_hash)
export(constant_fold)
export(cuda_device_count)
export(cuda_empty_cache)
export(cuda_is_available)
export(cuda_mem_info)
export(cuda_memory_stats)
export(dead_code_eliminate)
export(decoder_forward_step)
export(decompose_high_level_ops)
export(discover_modules)
export(emit_fused_cpu_kernel)
export(encoder_forward)
export(exec_cache_stats)
export(execute_compiled)
export(execute_optimized)
export(execute_prepared)
export(expand_module)
export(find_graph_breaks)
export(find_modules_in_package)
export(find_torch_packages)
export(fused_gelu)
export(fused_ops)
export(fused_relu)
export(fused_relu_sigmoid)
export(fused_relu_sigmoid_tanh)
export(fused_rmsnorm)
export(fused_silu)
export(fused_sincos)
export(fused_softcap)
export(fusion_annotate)
export(gpu_kernel_cache_clear)
export(gpu_kernel_cache_stats)
export(gpu_kernel_clear)
export(gpu_kernel_get)
export(gpu_kernel_set)
export(gpu_kernel_stats)
export(greedy_decode)
export(infer_shapes)
export(is_available)
export(is_graph_safe)
export(kernel_cache_stats)
export(load_compiled)
export(lower_to_ir)
export(nn_batch_norm1d)
export(nn_batch_norm2d)
export(nn_buffer)
export(nn_conv_transpose1d)
export(nn_conv1d)
export(nn_conv2d)
export(nn_dropout)
export(nn_elu)
export(nn_embedding)
export(nn_gelu)
export(nn_identity)
export(nn_layer_norm)
export(nn_linear)
export(nn_lstm)
export(nn_module)
export(nn_module_list)
export(nn_parameter)
export(nn_relu)
export(nn_sequential)
export(nn_sigmoid)
export(nn_silu)
export(nn_tanh)
export(nn_upsample)
export(nnf_avg_pool1d)
export(nnf_elu)
export(nnf_gelu)
export(nnf_interpolate)
export(nnf_layer_norm)
export(nnf_leaky_relu)
export(nnf_log_softmax)
export(nnf_normalize)
export(nnf_pad)
export(nnf_relu)
export(nnf_sigmoid)
export(nnf_silu)
export(nnf_softmax)
export(nnf_softplus)
export(nnf_tanh)
export(optim_adam)
export(optim_adamw)
export(optim_sgd)
export(optimize_graph)
export(plan_memory)
export(prepare_cross_caches)
export(prepare_graph)
export(print_segments)
export(segment_expr)
export(install_libtorch)
export(torch___and__)
export(torch___iand__)
export(torch___ilshift__)
export(torch___ior__)
export(torch___irshift__)
export(torch___ixor__)
export(torch___lshift__)
export(torch___or__)
export(torch___rshift__)
export(torch___xor__)
export(torch_abs)
export(torch_abs_)
export(torch_absolute)
export(torch_absolute_)
export(torch_acos)
export(torch_acos_)
export(torch_acosh)
export(torch_acosh_)
export(torch_adaptive_avg_pool1d)
export(torch_adaptive_avg_pool2d)
export(torch_adaptive_avg_pool3d)
export(torch_adaptive_max_pool1d)
export(torch_adaptive_max_pool2d)
export(torch_adaptive_max_pool3d)
export(torch_add)
export(torch_add_)
export(torch_addbmm)
export(torch_addbmm_)
export(torch_addcdiv)
export(torch_addcdiv_)
export(torch_addcmul)
export(torch_addcmul_)
export(torch_addmm)
export(torch_addmm_)
export(torch_addmv)
export(torch_addmv_)
export(torch_addr)
export(torch_addr_)
export(torch_adjoint)
export(torch_affine_grid_generator)
export(torch_alias)
export(torch_align_as)
export(torch_align_tensors)
export(torch_align_to)
export(torch_all)
export(torch_allclose)
export(torch_alpha_dropout)
export(torch_alpha_dropout_)
export(torch_amax)
export(torch_amin)
export(torch_aminmax)
export(torch_angle)
export(torch_any)
export(torch_arange)
export(torch_arccos)
export(torch_arccos_)
export(torch_arccosh)
export(torch_arccosh_)
export(torch_arcsin)
export(torch_arcsin_)
export(torch_arcsinh)
export(torch_arcsinh_)
export(torch_arctan)
export(torch_arctan_)
export(torch_arctan2)
export(torch_arctan2_)
export(torch_arctanh)
export(torch_arctanh_)
export(torch_argsort)
export(torch_argwhere)
export(torch_as_strided)
export(torch_as_strided_)
export(torch_as_strided_scatter)
export(torch_asin)
export(torch_asin_)
export(torch_asinh)
export(torch_asinh_)
export(torch_atan)
export(torch_atan_)
export(torch_atan2)
export(torch_atan2_)
export(torch_atanh)
export(torch_atanh_)
export(torch_atleast_1d)
export(torch_atleast_2d)
export(torch_atleast_3d)
export(torch_avg_pool1d)
export(torch_avg_pool2d)
export(torch_avg_pool3d)
export(torch_baddbmm)
export(torch_baddbmm_)
export(torch_bartlett_window)
export(torch_batch_norm_elemt)
export(torch_batch_norm_gather_stats)
export(torch_batch_norm_gather_stats_with_counts)
export(torch_batch_norm_stats)
export(torch_batch_norm_update_stats)
export(torch_bernoulli)
export(torch_bernoulli_)
export(torch_bilinear)
export(torch_binary_cross_entropy)
export(torch_binary_cross_entropy_with_logits)
export(torch_bincount)
export(torch_binomial)
export(torch_bitwise_and)
export(torch_bitwise_and_)
export(torch_bitwise_left_shift)
export(torch_bitwise_left_shift_)
export(torch_bitwise_not)
export(torch_bitwise_not_)
export(torch_bitwise_or)
export(torch_bitwise_or_)
export(torch_bitwise_right_shift)
export(torch_bitwise_right_shift_)
export(torch_bitwise_xor)
export(torch_bitwise_xor_)
export(torch_blackman_window)
export(torch_block_diag)
export(torch_bool)
export(torch_broadcast_tensors)
export(torch_broadcast_to)
export(torch_bucketize)
export(torch_can_cast)
export(torch_cartesian_prod)
export(torch_cat)
export(torch_cauchy_)
export(torch_ccol_indices)
export(torch_cdist)
export(torch_ceil_)
export(torch_celu)
export(torch_celu_)
export(torch_chain_matmul)
export(torch_chalf)
export(torch_channel_shuffle)
export(torch_cholesky)
export(torch_cholesky_inverse)
export(torch_cholesky_solve)
export(torch_choose_qparams_optimized)
export(torch_chunk)
export(torch_clamp)
export(torch_clamp_)
export(torch_clamp_max)
export(torch_clamp_max_)
export(torch_clamp_min)
export(torch_clamp_min_)
export(torch_clip)
export(torch_clip_)
export(torch_coalesce)
export(torch_col_indices)
export(torch_col2im)
export(torch_column_stack)
export(torch_combinations)
export(torch_complex)
export(torch_concat)
export(torch_concatenate)
export(torch_conj_physical)
export(torch_conj_physical_)
export(torch_constant_pad_nd)
export(torch_conv_depthwise3d)
export(torch_conv_tbc)
export(torch_conv_transpose2d)
export(torch_conv_transpose3d)
export(torch_conv1d)
export(torch_conv3d)
export(torch_convolution)
export(torch_convolution_overrideable)
export(torch_copy)
export(torch_copy_sparse_to_sparse_)
export(torch_copysign)
export(torch_copysign_)
export(torch_corrcoef)
export(torch_cos)
export(torch_cos_)
export(torch_cosh)
export(torch_cosh_)
export(torch_cosine_embedding_loss)
export(torch_cosine_similarity)
export(torch_count_nonzero)
export(torch_cov)
export(torch_cross)
export(torch_cross_entropy_loss)
export(torch_crow_indices)
export(torch_ctc_loss)
export(torch_cummax)
export(torch_cummin)
export(torch_cumprod)
export(torch_cumprod_)
export(torch_cumsum)
export(torch_cumsum_)
export(torch_cumulative_trapezoid)
export(torch_deg2rad)
export(torch_deg2rad_)
export(torch_dense_dim)
export(torch_dequantize)
export(torch_det)
export(torch_detach_)
export(torch_diag)
export(torch_diag_embed)
export(torch_diagflat)
export(torch_diagonal)
export(torch_diagonal_scatter)
export(torch_diff)
export(torch_digamma)
export(torch_digamma_)
export(torch_dist)
export(torch_div)
export(torch_div_)
export(torch_divide)
export(torch_divide_)
export(torch_dot)
export(torch_double)
export(torch_dropout)
export(torch_dropout_)
export(torch_dsplit)
export(torch_dstack)
export(torch_einsum)
export(torch_elu)
export(torch_elu_)
export(torch_embedding)
export(torch_embedding_bag)
export(torch_embedding_renorm_)
export(torch_empty)
export(torch_empty_like)
export(torch_empty_permuted)
export(torch_empty_quantized)
export(torch_empty_strided)
export(torch_eq_)
export(torch_equal)
export(torch_erf)
export(torch_erf_)
export(torch_erfc)
export(torch_erfc_)
export(torch_erfinv)
export(torch_erfinv_)
export(torch_eval)
export(torch_exp)
export(torch_exp_)
export(torch_exp2)
export(torch_exp2_)
export(torch_expand_as)
export(torch_expm1)
export(torch_expm1_)
export(torch_exponential_)
export(torch_eye)
export(torch_fake_quantize_per_channel_affine)
export(torch_fake_quantize_per_channel_affine_cachemask)
export(torch_fake_quantize_per_tensor_affine)
export(torch_fake_quantize_per_tensor_affine_cachemask)
export(torch_feature_alpha_dropout)
export(torch_feature_alpha_dropout_)
export(torch_feature_dropout)
export(torch_feature_dropout_)
export(torch_fft_fft)
export(torch_fft_fft2)
export(torch_fft_fftfreq)
export(torch_fft_fftn)
export(torch_fft_fftshift)
export(torch_fft_hfft)
export(torch_fft_hfft2)
export(torch_fft_hfftn)
export(torch_fft_ifft)
export(torch_fft_ifft2)
export(torch_fft_ifftn)
export(torch_fft_ifftshift)
export(torch_fft_ihfft)
export(torch_fft_ihfft2)
export(torch_fft_ihfftn)
export(torch_fft_irfft)
export(torch_fft_irfft2)
export(torch_fft_irfftn)
export(torch_fft_rfft)
export(torch_fft_rfft2)
export(torch_fft_rfftfreq)
export(torch_fft_rfftn)
export(torch_fill)
export(torch_fill_diagonal_)
export(torch_fix)
export(torch_fix_)
export(torch_flatten_dense_tensors)
export(torch_flip)
export(torch_fliplr)
export(torch_flipud)
export(torch_float)
export(torch_float_power)
export(torch_float_power_)
export(torch_float16)
export(torch_float32)
export(torch_float64)
export(torch_floor)
export(torch_floor_)
export(torch_floor_divide_)
export(torch_fmax)
export(torch_fmin)
export(torch_fmod)
export(torch_fmod_)
export(torch_frac)
export(torch_frac_)
export(torch_fractional_max_pool2d)
export(torch_fractional_max_pool3d)
export(torch_frexp)
export(torch_frobenius_norm)
export(torch_from_file)
export(torch_full)
export(torch_full_like)
export(torch_fused_moving_avg_obs_fake_quant)
export(torch_gcd)
export(torch_gcd_)
export(torch_ge_)
export(torch_gelu_)
export(torch_geometric_)
export(torch_geqrf)
export(torch_ger)
export(torch_get_num_interop_threads)
export(torch_get_num_threads)
export(torch_glu)
export(torch_glu_jvp)
export(torch_gradient)
export(torch_greater)
export(torch_greater_)
export(torch_greater_equal)
export(torch_greater_equal_)
export(torch_grid_sampler)
export(torch_grid_sampler_2d)
export(torch_grid_sampler_3d)
export(torch_group_norm)
export(torch_gru)
export(torch_gru_cell)
export(torch_gt_)
export(torch_hamming_window)
export(torch_hann_window)
export(torch_hardshrink)
export(torch_hardsigmoid)
export(torch_hardsigmoid_)
export(torch_hardswish)
export(torch_hardswish_)
export(torch_hardtanh)
export(torch_hardtanh_)
export(torch_heaviside)
export(torch_heaviside_)
export(torch_hinge_embedding_loss)
export(torch_histc)
export(torch_histogram)
export(torch_histogramdd)
export(torch_hsplit)
export(torch_hspmm)
export(torch_hstack)
export(torch_huber_loss)
export(torch_hypot)
export(torch_hypot_)
export(torch_i0)
export(torch_i0_)
export(torch_igamma)
export(torch_igamma_)
export(torch_igammac)
export(torch_igammac_)
export(torch_im2col)
export(torch_imag)
export(torch_index_add)
export(torch_index_add_)
export(torch_index_copy_)
export(torch_index_fill)
export(torch_index_fill_)
export(torch_index_put_)
export(torch_index_reduce)
export(torch_index_reduce_)
export(torch_indices)
export(torch_inner)
export(torch_instance_norm)
export(torch_int)
export(torch_int_repr)
export(torch_int16)
export(torch_int32)
export(torch_int64)
export(torch_int8)
export(torch_inverse)
export(torch_is_coalesced)
export(torch_is_distributed)
export(torch_is_nonzero)
export(torch_is_pinned)
export(torch_is_same_size)
export(torch_is_set_to)
export(torch_is_vulkan_available)
export(torch_isclose)
export(torch_isfinite)
export(torch_isin)
export(torch_isinf)
export(torch_isnan)
export(torch_isneginf)
export(torch_isposinf)
export(torch_isreal)
export(torch_istft)
export(torch_kaiser_window)
export(torch_kl_div)
export(torch_kron)
export(torch_kthvalue)
export(torch_l1_loss)
export(torch_lcm)
export(torch_lcm_)
export(torch_ldexp)
export(torch_ldexp_)
export(torch_le_)
export(torch_leaky_relu)
export(torch_leaky_relu_)
export(torch_lerp)
export(torch_lerp_)
export(torch_less)
export(torch_less_)
export(torch_less_equal)
export(torch_less_equal_)
export(torch_lgamma)
export(torch_lgamma_)
export(torch_linalg_cholesky)
export(torch_linalg_cholesky_ex)
export(torch_linalg_cond)
export(torch_linalg_cross)
export(torch_linalg_det)
export(torch_linalg_diagonal)
export(torch_linalg_eig)
export(torch_linalg_eigh)
export(torch_linalg_eigvals)
export(torch_linalg_eigvalsh)
export(torch_linalg_householder_product)
export(torch_linalg_inv)
export(torch_linalg_inv_ex)
export(torch_linalg_ldl_factor)
export(torch_linalg_ldl_factor_ex)
export(torch_linalg_ldl_solve)
export(torch_linalg_lstsq)
export(torch_linalg_lu)
export(torch_linalg_lu_factor)
export(torch_linalg_lu_factor_ex)
export(torch_linalg_lu_solve)
export(torch_linalg_matmul)
export(torch_linalg_matrix_exp)
export(torch_linalg_matrix_norm)
export(torch_linalg_matrix_power)
export(torch_linalg_matrix_rank)
export(torch_linalg_multi_dot)
export(torch_linalg_norm)
export(torch_linalg_pinv)
export(torch_linalg_qr)
export(torch_linalg_slogdet)
export(torch_linalg_solve)
export(torch_linalg_solve_ex)
export(torch_linalg_solve_triangular)
export(torch_linalg_svd)
export(torch_linalg_svdvals)
export(torch_linalg_tensorinv)
export(torch_linalg_tensorsolve)
export(torch_linalg_vander)
export(torch_linalg_vecdot)
export(torch_linalg_vector_norm)
export(torch_linear)
export(torch_linspace)
export(torch_lint)
export(torch_log)
export(torch_log_)
export(torch_log_normal_)
export(torch_log_sigmoid)
export(torch_log_sigmoid_forward)
export(torch_log10_)
export(torch_log1p)
export(torch_log1p_)
export(torch_log2_)
export(torch_logaddexp)
export(torch_logaddexp2)
export(torch_logcumsumexp)
export(torch_logdet)
export(torch_logical_and)
export(torch_logical_and_)
export(torch_logical_not_)
export(torch_logical_or)
export(torch_logical_or_)
export(torch_logical_xor)
export(torch_logical_xor_)
export(torch_logit)
export(torch_logit_)
export(torch_logspace)
export(torch_logsumexp)
export(torch_long)
export(torch_lstm_cell)
export(torch_lt_)
export(torch_lu_solve)
export(torch_lu_unpack)
export(torch_margin_ranking_loss)
export(torch_masked_scatter)
export(torch_masked_scatter_)
export(torch_masked_select)
export(torch_matmul)
export(torch_matrix_exp)
export(torch_matrix_H)
export(torch_matrix_power)
export(torch_max_pool1d)
export(torch_max_pool1d_with_indices)
export(torch_max_pool2d)
export(torch_max_pool2d_with_indices)
export(torch_max_pool3d)
export(torch_max_pool3d_with_indices)
export(torch_max_unpool2d)
export(torch_max_unpool3d)
export(torch_maximum)
export(torch_mean)
export(torch_median)
export(torch_meshgrid)
export(torch_mH)
export(torch_minimum)
export(torch_mish)
export(torch_mish_)
export(torch_mm)
export(torch_mode)
export(torch_moveaxis)
export(torch_movedim)
export(torch_mse_loss)
export(torch_msort)
export(torch_mT)
export(torch_mul)
export(torch_mul_)
export(torch_multi_margin_loss)
export(torch_multilabel_margin_loss)
export(torch_multilabel_margin_loss_forward)
export(torch_multinomial)
export(torch_multiply)
export(torch_multiply_)
export(torch_mv)
export(torch_mvlgamma)
export(torch_mvlgamma_)
export(torch_nan_to_num)
export(torch_nan_to_num_)
export(torch_nanmean)
export(torch_nanmedian)
export(torch_nanquantile)
export(torch_nansum)
export(torch_native_batch_norm)
export(torch_native_channel_shuffle)
export(torch_native_dropout)
export(torch_native_group_norm)
export(torch_native_layer_norm)
export(torch_native_norm)
export(torch_ne_)
export(torch_neg_)
export(torch_negative)
export(torch_negative_)
export(torch_nested_to_padded_tensor)
export(torch_new_empty)
export(torch_new_empty_strided)
export(torch_new_full)
export(torch_new_ones)
export(torch_new_zeros)
export(torch_nextafter)
export(torch_nextafter_)
export(torch_nll_loss)
export(torch_nll_loss_forward)
export(torch_nll_loss_nd)
export(torch_nll_loss2d)
export(torch_nll_loss2d_forward)
export(torch_nonzero)
export(torch_nonzero_numpy)
export(torch_nonzero_static)
export(torch_norm)
export(torch_norm_except_dim)
export(torch_normal)
export(torch_normal_functional)
export(torch_not_equal)
export(torch_not_equal_)
export(torch_nuclear_norm)
export(torch_numpy_T)
export(torch_one_hot)
export(torch_ones)
export(torch_ones_like)
export(torch_orgqr)
export(torch_ormqr)
export(torch_outer)
export(torch_pad)
export(torch_pad_sequence)
export(torch_pairwise_distance)
export(torch_pdist)
export(torch_pin_memory)
export(torch_pinverse)
export(torch_pixel_shuffle)
export(torch_pixel_unshuffle)
export(torch_poisson)
export(torch_poisson_nll_loss)
export(torch_polar)
export(torch_polygamma)
export(torch_polygamma_)
export(torch_positive)
export(torch_pow)
export(torch_pow_)
export(torch_prelu)
export(torch_prod)
export(torch_promote_types)
export(torch_put)
export(torch_put_)
export(torch_q_per_channel_axis)
export(torch_q_per_channel_scales)
export(torch_q_per_channel_zero_points)
export(torch_q_scale)
export(torch_q_zero_point)
export(torch_qr)
export(torch_qscheme)
export(torch_quantile)
export(torch_quantize_per_channel)
export(torch_quantize_per_tensor)
export(torch_quantize_per_tensor_dynamic)
export(torch_quantized_batch_norm)
export(torch_quantized_gru_cell)
export(torch_quantized_lstm_cell)
export(torch_quantized_max_pool1d)
export(torch_quantized_max_pool2d)
export(torch_quantized_max_pool3d)
export(torch_quantized_rnn_relu_cell)
export(torch_quantized_rnn_tanh_cell)
export(torch_rad2deg)
export(torch_rad2deg_)
export(torch_rand)
export(torch_rand_like)
export(torch_randint)
export(torch_randint_like)
export(torch_randn)
export(torch_randn_like)
export(torch_random_)
export(torch_randperm)
export(torch_range)
export(torch_ravel)
export(torch_real)
export(torch_reciprocal)
export(torch_reciprocal_)
export(torch_refine_names)
export(torch_reflection_pad1d)
export(torch_reflection_pad2d)
export(torch_reflection_pad3d)
export(torch_relu)
export(torch_relu_)
export(torch_relu6)
export(torch_relu6_)
export(torch_remainder_)
export(torch_rename)
export(torch_rename_)
export(torch_renorm)
export(torch_renorm_)
export(torch_replication_pad1d)
export(torch_replication_pad2d)
export(torch_replication_pad3d)
export(torch_reshape_as)
export(torch_resize_)
export(torch_resize_as_)
export(torch_resize_as_sparse_)
export(torch_resolve_conj)
export(torch_resolve_neg)
export(torch_result_type)
export(torch_rms_norm)
export(torch_rnn_relu)
export(torch_rnn_relu_cell)
export(torch_rnn_tanh)
export(torch_rnn_tanh_cell)
export(torch_roll)
export(torch_rot90)
export(torch_round_)
export(torch_row_indices)
export(torch_row_stack)
export(torch_rrelu)
export(torch_rrelu_)
export(torch_rrelu_with_noise)
export(torch_rrelu_with_noise_)
export(torch_rsqrt)
export(torch_rsqrt_)
export(torch_rsub)
export(torch_scalar_tensor)
export(torch_scaled_dot_product_attention)
export(torch_scatter)
export(torch_scatter_add)
export(torch_scatter_add_)
export(torch_scatter_reduce)
export(torch_scatter_reduce_)
export(torch_searchsorted)
export(torch_segment_reduce)
export(torch_select)
export(torch_select_scatter)
export(torch_selu)
export(torch_selu_)
export(torch_set_)
export(torch_set_num_interop_threads)
export(torch_set_num_threads)
export(torch_sgn)
export(torch_sgn_)
export(torch_sigmoid)
export(torch_sigmoid_)
export(torch_sign_)
export(torch_signbit)
export(torch_silu_)
export(torch_sin)
export(torch_sin_)
export(torch_sinc)
export(torch_sinc_)
export(torch_sinh)
export(torch_sinh_)
export(torch_slice)
export(torch_slice_inverse)
export(torch_slice_scatter)
export(torch_slogdet)
export(torch_slow_conv_dilated2d)
export(torch_slow_conv_dilated3d)
export(torch_slow_conv_transpose2d)
export(torch_slow_conv_transpose3d)
export(torch_slow_conv3d)
export(torch_slow_conv3d_forward)
export(torch_smm)
export(torch_smooth_l1_loss)
export(torch_soft_margin_loss)
export(torch_softplus)
export(torch_softshrink)
export(torch_sort)
export(torch_sparse_bsc_tensor)
export(torch_sparse_bsr_tensor)
export(torch_sparse_compressed_tensor)
export(torch_sparse_coo_tensor)
export(torch_sparse_csc_tensor)
export(torch_sparse_csr_tensor)
export(torch_sparse_dim)
export(torch_sparse_mask)
export(torch_sparse_resize_)
export(torch_sparse_resize_and_clear_)
export(torch_sparse_sampled_addmm)
export(torch_special_airy_ai)
export(torch_special_bessel_j0)
export(torch_special_bessel_j1)
export(torch_special_bessel_y0)
export(torch_special_bessel_y1)
export(torch_special_chebyshev_polynomial_t)
export(torch_special_chebyshev_polynomial_u)
export(torch_special_chebyshev_polynomial_v)
export(torch_special_chebyshev_polynomial_w)
export(torch_special_digamma)
export(torch_special_entr)
export(torch_special_erf)
export(torch_special_erfc)
export(torch_special_erfcx)
export(torch_special_erfinv)
export(torch_special_exp2)
export(torch_special_expit)
export(torch_special_expm1)
export(torch_special_gammainc)
export(torch_special_gammaincc)
export(torch_special_gammaln)
export(torch_special_hermite_polynomial_h)
export(torch_special_hermite_polynomial_he)
export(torch_special_i0)
export(torch_special_i0e)
export(torch_special_i1)
export(torch_special_i1e)
export(torch_special_laguerre_polynomial_l)
export(torch_special_legendre_polynomial_p)
export(torch_special_log_ndtr)
export(torch_special_log_softmax)
export(torch_special_log1p)
export(torch_special_logit)
export(torch_special_logsumexp)
export(torch_special_modified_bessel_i0)
export(torch_special_modified_bessel_i1)
export(torch_special_modified_bessel_k0)
export(torch_special_modified_bessel_k1)
export(torch_special_multigammaln)
export(torch_special_ndtr)
export(torch_special_ndtri)
export(torch_special_polygamma)
export(torch_special_psi)
export(torch_special_round)
export(torch_special_scaled_modified_bessel_k0)
export(torch_special_scaled_modified_bessel_k1)
export(torch_special_shifted_chebyshev_polynomial_t)
export(torch_special_shifted_chebyshev_polynomial_u)
export(torch_special_shifted_chebyshev_polynomial_v)
export(torch_special_shifted_chebyshev_polynomial_w)
export(torch_special_sinc)
export(torch_special_softmax)
export(torch_special_spherical_bessel_j0)
export(torch_special_xlog1py)
export(torch_special_xlogy)
export(torch_special_zeta)
export(torch_split)
export(torch_split_with_sizes)
export(torch_sqrt)
export(torch_sqrt_)
export(torch_square)
export(torch_square_)
export(torch_squeeze_)
export(torch_sspaddmm)
export(torch_stack)
export(torch_std)
export(torch_std_mean)
export(torch_stft)
export(torch_stride)
export(torch_sub)
export(torch_sub_)
export(torch_subtract)
export(torch_subtract_)
export(torch_sum)
export(torch_sum_to_size)
export(torch_svd)
export(torch_swapaxes)
export(torch_swapaxes_)
export(torch_swapdims)
export(torch_swapdims_)
export(torch_sym_constrain_range)
export(torch_sym_constrain_range_for_size)
export(torch_t_)
export(torch_take)
export(torch_take_along_dim)
export(torch_tan)
export(torch_tan_)
export(torch_tanh)
export(torch_tanh_)
export(torch_tensor)
export(torch_tensor_from_buffer)
export(torch_tensor_split)
export(torch_tensordot)
export(torch_thnn_conv2d)
export(torch_threshold)
export(torch_threshold_)
export(torch_tile)
export(torch_to_dense)
export(torch_to_padded_tensor)
export(torch_to_sparse)
export(torch_to_sparse_bsc)
export(torch_to_sparse_bsr)
export(torch_to_sparse_csc)
export(torch_to_sparse_csr)
export(torch_topk)
export(torch_trace)
export(torch_transpose_)
export(torch_trapezoid)
export(torch_trapz)
export(torch_triangular_solve)
export(torch_tril)
export(torch_tril_)
export(torch_tril_indices)
export(torch_triplet_margin_loss)
export(torch_triu)
export(torch_triu_)
export(torch_triu_indices)
export(torch_true_divide)
export(torch_true_divide_)
export(torch_trunc_)
export(torch_type_as)
export(torch_uint8)
export(torch_unbind)
export(torch_unflatten)
export(torch_unflatten_dense_tensors)
export(torch_unfold)
export(torch_unique_consecutive)
export(torch_unique_dim)
export(torch_unique_dim_consecutive)
export(torch_unsafe_chunk)
export(torch_unsafe_split)
export(torch_unsafe_split_with_sizes)
export(torch_unsqueeze_)
export(torch_upsample_bicubic2d)
export(torch_upsample_bilinear2d)
export(torch_upsample_linear1d)
export(torch_upsample_nearest1d)
export(torch_upsample_nearest2d)
export(torch_upsample_nearest3d)
export(torch_upsample_trilinear3d)
export(torch_values)
export(torch_vander)
export(torch_var)
export(torch_var_mean)
export(torch_vdot)
export(torch_view_as)
export(torch_view_as_complex)
export(torch_view_as_real)
export(torch_vsplit)
export(torch_vstack)
export(torch_where)
export(torch_xlogy)
export(torch_xlogy_)
export(torch_zeros)
export(torch_zeros_like)
export(trace_module)
export(trace_report)
export(transformer_decoder_layer_step)
export(transformer_encoder_layer)
export(validate_ir)
export(walk_expr)
export(with_autocast)
export(with_no_grad)

S3method("-",torch_tensor)
S3method("!",torch_tensor)
S3method("!=",torch_tensor)
S3method("[",torch_tensor)
S3method("[[",nn_module)
S3method("[<-",torch_tensor)
S3method("*",torch_tensor)
S3method("/",torch_tensor)
S3method("%/%",torch_tensor)
S3method("%%",torch_tensor)
S3method("^",torch_tensor)
S3method("+",torch_tensor)
S3method("<",torch_tensor)
S3method("<=",torch_tensor)
S3method("==",torch_tensor)
S3method(">",torch_tensor)
S3method(">=",torch_tensor)
S3method("$",nn_module)
S3method("$",torch_optimizer)
S3method("$",torch_tensor)
S3method("$<-",nn_module)
S3method(as.array,torch_tensor)
S3method(as.character,torch_dtype)
S3method(as.double,torch_tensor)
S3method(as.integer,torch_tensor)
S3method(as.matrix,torch_tensor)
S3method(as.numeric,torch_tensor)
S3method(length,nn_buffer)
S3method(length,nn_module)
S3method(length,nn_parameter)
S3method(length,torch_tensor)
S3method(print,compiled_module)
S3method(print,ir_graph)
S3method(print,memory_plan)
S3method(print,module_tree)
S3method(print,torch_dtype)
S3method(print,torch_tensor)
S3method(print,traced_module)

importFrom(Rcpp,sourceCpp)
importFrom(stats,setNames)
importFrom(utils,capture.output)
importFrom(utils,download.file)
importFrom(utils,getFromNamespace)
importFrom(utils,object.size)
importFrom(utils,unzip)

useDynLib(tinytorch, .registration = TRUE)
