# tinyrox says don't edit this manually, but it can't stop you!

export(algebraic_simplify)
export(analyze_deps)
export(analyze_liveness)
export(analyze_segments)
export(analyze_variables)
export(as_array)
export(broadcast_shapes)
export(cache_stats)
export(clear_cache)
export(clear_codegen_cache)
export(clear_exec_cache)
export(clear_gpu_kernel_cache)
export(clear_kernel_cache)
export(codegen_cache_stats)
export(common_subexpr_eliminate)
export(compile)
export(compute_ir_hash)
export(constant_fold)
export(cuda_device_count)
export(cuda_empty_cache)
export(cuda_is_available)
export(cuda_mem_info)
export(cuda_memory_stats)
export(dead_code_eliminate)
export(decoder_forward_step)
export(decompose_high_level_ops)
export(discover_modules)
export(emit_fused_cpu_kernel)
export(encoder_forward)
export(exec_cache_stats)
export(execute_compiled)
export(execute_optimized)
export(execute_prepared)
export(expand_module)
export(find_graph_breaks)
export(find_modules_in_package)
export(find_torch_packages)
export(fused_gelu)
export(fused_ops)
export(fused_relu)
export(fused_relu_sigmoid)
export(fused_relu_sigmoid_tanh)
export(fused_rmsnorm)
export(fused_silu)
export(fused_sincos)
export(fused_softcap)
export(fusion_annotate)
export(gpu_kernel_cache_clear)
export(gpu_kernel_cache_stats)
export(gpu_kernel_clear)
export(gpu_kernel_get)
export(gpu_kernel_set)
export(gpu_kernel_stats)
export(greedy_decode)
export(infer_shapes)
export(is_graph_safe)
export(kernel_cache_stats)
export(load_compiled)
export(lower_to_ir)
export(nn_batch_norm1d)
export(nn_batch_norm2d)
export(nn_buffer)
export(nn_conv_transpose1d)
export(nn_conv1d)
export(nn_conv2d)
export(nn_dropout)
export(nn_elu)
export(nn_embedding)
export(nn_gelu)
export(nn_identity)
export(nn_layer_norm)
export(nn_linear)
export(nn_lstm)
export(nn_module)
export(nn_module_list)
export(nn_parameter)
export(nn_relu)
export(nn_sequential)
export(nn_sigmoid)
export(nn_silu)
export(nn_tanh)
export(nn_upsample)
export(nnf_avg_pool1d)
export(nnf_elu)
export(nnf_gelu)
export(nnf_interpolate)
export(nnf_layer_norm)
export(nnf_leaky_relu)
export(nnf_log_softmax)
export(nnf_normalize)
export(nnf_pad)
export(nnf_relu)
export(nnf_sigmoid)
export(nnf_silu)
export(nnf_softmax)
export(nnf_softplus)
export(nnf_tanh)
export(optimize_graph)
export(plan_memory)
export(prepare_cross_caches)
export(prepare_graph)
export(print_segments)
export(segment_expr)
export(torch_abs)
export(torch_absolute)
export(torch_acos)
export(torch_acosh)
export(torch_add)
export(torch_adjoint)
export(torch_alias)
export(torch_all)
export(torch_allclose)
export(torch_angle)
export(torch_any)
export(torch_arange)
export(torch_arccos)
export(torch_arccosh)
export(torch_arcsin)
export(torch_arcsinh)
export(torch_arctan)
export(torch_arctan2)
export(torch_arctanh)
export(torch_argsort)
export(torch_argwhere)
export(torch_asin)
export(torch_asinh)
export(torch_atan)
export(torch_atan2)
export(torch_atanh)
export(torch_atleast_1d)
export(torch_atleast_2d)
export(torch_atleast_3d)
export(torch_bitwise_and)
export(torch_bitwise_left_shift)
export(torch_bitwise_not)
export(torch_bitwise_or)
export(torch_bitwise_right_shift)
export(torch_bitwise_xor)
export(torch_bool)
export(torch_cat)
export(torch_celu)
export(torch_cholesky)
export(torch_cholesky_inverse)
export(torch_clamp)
export(torch_clamp_max)
export(torch_clamp_min)
export(torch_complex)
export(torch_conv1d)
export(torch_copysign)
export(torch_corrcoef)
export(torch_cos)
export(torch_cosh)
export(torch_cumsum)
export(torch_deg2rad)
export(torch_det)
export(torch_diag)
export(torch_diag_embed)
export(torch_diagflat)
export(torch_diagonal)
export(torch_digamma)
export(torch_dist)
export(torch_div)
export(torch_divide)
export(torch_dot)
export(torch_double)
export(torch_embedding)
export(torch_empty)
export(torch_empty_like)
export(torch_erf)
export(torch_erfc)
export(torch_erfinv)
export(torch_eval)
export(torch_exp)
export(torch_exp2)
export(torch_expm1)
export(torch_fill)
export(torch_fix)
export(torch_flip)
export(torch_fliplr)
export(torch_flipud)
export(torch_float)
export(torch_float_power)
export(torch_float16)
export(torch_float32)
export(torch_float64)
export(torch_floor)
export(torch_fmax)
export(torch_fmin)
export(torch_fmod)
export(torch_frac)
export(torch_full)
export(torch_gcd)
export(torch_ger)
export(torch_get_num_interop_threads)
export(torch_get_num_threads)
export(torch_glu)
export(torch_greater)
export(torch_greater_equal)
export(torch_hann_window)
export(torch_hardshrink)
export(torch_hardsigmoid)
export(torch_hardswish)
export(torch_hypot)
export(torch_i0)
export(torch_igamma)
export(torch_igammac)
export(torch_imag)
export(torch_inner)
export(torch_int)
export(torch_int16)
export(torch_int32)
export(torch_int64)
export(torch_int8)
export(torch_inverse)
export(torch_isfinite)
export(torch_isinf)
export(torch_isnan)
export(torch_isneginf)
export(torch_isposinf)
export(torch_isreal)
export(torch_istft)
export(torch_kron)
export(torch_lcm)
export(torch_leaky_relu)
export(torch_lerp)
export(torch_less)
export(torch_less_equal)
export(torch_lgamma)
export(torch_linalg_cholesky)
export(torch_linalg_det)
export(torch_linalg_diagonal)
export(torch_linalg_eigvals)
export(torch_linalg_householder_product)
export(torch_linalg_inv)
export(torch_linalg_matmul)
export(torch_linalg_matrix_exp)
export(torch_linalg_matrix_power)
export(torch_linalg_tensorinv)
export(torch_linear)
export(torch_linspace)
export(torch_lint)
export(torch_log)
export(torch_log_sigmoid)
export(torch_log1p)
export(torch_logaddexp)
export(torch_logaddexp2)
export(torch_logcumsumexp)
export(torch_logdet)
export(torch_logical_and)
export(torch_logical_or)
export(torch_logical_xor)
export(torch_long)
export(torch_masked_select)
export(torch_matmul)
export(torch_matrix_exp)
export(torch_matrix_power)
export(torch_maximum)
export(torch_mean)
export(torch_median)
export(torch_minimum)
export(torch_mish)
export(torch_mm)
export(torch_moveaxis)
export(torch_movedim)
export(torch_msort)
export(torch_mul)
export(torch_multinomial)
export(torch_multiply)
export(torch_mv)
export(torch_mvlgamma)
export(torch_nanmedian)
export(torch_negative)
export(torch_nextafter)
export(torch_nonzero)
export(torch_norm)
export(torch_not_equal)
export(torch_ones)
export(torch_ones_like)
export(torch_orgqr)
export(torch_outer)
export(torch_pdist)
export(torch_pinverse)
export(torch_pixel_shuffle)
export(torch_pixel_unshuffle)
export(torch_polar)
export(torch_positive)
export(torch_pow)
export(torch_prelu)
export(torch_rad2deg)
export(torch_randn)
export(torch_randn_like)
export(torch_ravel)
export(torch_real)
export(torch_reciprocal)
export(torch_relu)
export(torch_relu6)
export(torch_rsqrt)
export(torch_rsub)
export(torch_scaled_dot_product_attention)
export(torch_selu)
export(torch_set_num_interop_threads)
export(torch_set_num_threads)
export(torch_sgn)
export(torch_sigmoid)
export(torch_signbit)
export(torch_silu)
export(torch_sin)
export(torch_sinc)
export(torch_sinh)
export(torch_softshrink)
export(torch_sort)
export(torch_special_airy_ai)
export(torch_special_bessel_j0)
export(torch_special_bessel_j1)
export(torch_special_bessel_y0)
export(torch_special_bessel_y1)
export(torch_special_chebyshev_polynomial_t)
export(torch_special_chebyshev_polynomial_u)
export(torch_special_chebyshev_polynomial_v)
export(torch_special_chebyshev_polynomial_w)
export(torch_special_digamma)
export(torch_special_entr)
export(torch_special_erf)
export(torch_special_erfc)
export(torch_special_erfcx)
export(torch_special_erfinv)
export(torch_special_exp2)
export(torch_special_expit)
export(torch_special_expm1)
export(torch_special_gammainc)
export(torch_special_gammaincc)
export(torch_special_gammaln)
export(torch_special_hermite_polynomial_h)
export(torch_special_hermite_polynomial_he)
export(torch_special_i0)
export(torch_special_i0e)
export(torch_special_i1)
export(torch_special_i1e)
export(torch_special_laguerre_polynomial_l)
export(torch_special_legendre_polynomial_p)
export(torch_special_log_ndtr)
export(torch_special_log1p)
export(torch_special_modified_bessel_i0)
export(torch_special_modified_bessel_i1)
export(torch_special_modified_bessel_k0)
export(torch_special_modified_bessel_k1)
export(torch_special_multigammaln)
export(torch_special_ndtr)
export(torch_special_ndtri)
export(torch_special_psi)
export(torch_special_round)
export(torch_special_scaled_modified_bessel_k0)
export(torch_special_scaled_modified_bessel_k1)
export(torch_special_shifted_chebyshev_polynomial_t)
export(torch_special_shifted_chebyshev_polynomial_u)
export(torch_special_shifted_chebyshev_polynomial_v)
export(torch_special_shifted_chebyshev_polynomial_w)
export(torch_special_sinc)
export(torch_special_spherical_bessel_j0)
export(torch_special_xlog1py)
export(torch_special_xlogy)
export(torch_special_zeta)
export(torch_sqrt)
export(torch_square)
export(torch_std)
export(torch_stft)
export(torch_sub)
export(torch_subtract)
export(torch_sum)
export(torch_swapaxes)
export(torch_swapdims)
export(torch_take)
export(torch_tan)
export(torch_tanh)
export(torch_tensor)
export(torch_tensor_from_buffer)
export(torch_trace)
export(torch_tril)
export(torch_triu)
export(torch_true_divide)
export(torch_uint8)
export(torch_var)
export(torch_vdot)
export(torch_view_as_complex)
export(torch_view_as_real)
export(torch_where)
export(torch_xlogy)
export(torch_zeros)
export(torch_zeros_like)
export(trace_module)
export(trace_report)
export(transformer_decoder_layer_step)
export(transformer_encoder_layer)
export(validate_ir)
export(walk_expr)
export(with_autocast)
export(with_no_grad)

S3method("-",torch_tensor)
S3method("!",torch_tensor)
S3method("!=",torch_tensor)
S3method("[",torch_tensor)
S3method("[[",nn_module)
S3method("[<-",torch_tensor)
S3method("*",torch_tensor)
S3method("/",torch_tensor)
S3method("%/%",torch_tensor)
S3method("%%",torch_tensor)
S3method("^",torch_tensor)
S3method("+",torch_tensor)
S3method("<",torch_tensor)
S3method("<=",torch_tensor)
S3method("==",torch_tensor)
S3method(">",torch_tensor)
S3method(">=",torch_tensor)
S3method("$",nn_module)
S3method("$",torch_tensor)
S3method("$<-",nn_module)
S3method(as.array,torch_tensor)
S3method(as.character,torch_dtype)
S3method(as.double,torch_tensor)
S3method(as.integer,torch_tensor)
S3method(as.matrix,torch_tensor)
S3method(as.numeric,torch_tensor)
S3method(length,nn_buffer)
S3method(length,nn_module)
S3method(length,nn_parameter)
S3method(length,torch_tensor)
S3method(print,compiled_module)
S3method(print,ir_graph)
S3method(print,memory_plan)
S3method(print,module_tree)
S3method(print,torch_dtype)
S3method(print,torch_tensor)
S3method(print,traced_module)

importFrom(Rcpp,sourceCpp)

useDynLib(Rtorch, .registration = TRUE)
